.wrapper {
  max-width: 750px;
  width: 100vw;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.user-card {
  background: #222023;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  transition: all ease 0.2s;
  &:hover {
    background: #201f21;
  }
  &__pic {
    img {
      width: 60px;
      height: 100%;
      max-height: 60px;
      object-fit: contain;
      border-radius: 50px;
      border: 2px solid #d6d6d6;
    }
  }
  .btn {
    transform: rotate(-90deg);
    transition: all ease 0.2s;
  }

  &--opened {
    .btn {
      transform: rotate(0);
    }
  }
}

.user-detail {
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  color: #888888;
  background: #39373c;
  border-radius: 0 0 10px 10px;
  .read-only {
    display: grid;
    align-items: center;
    grid-template-columns: 0.2fr 1fr 1fr 0.5fr 0.7fr 0.5fr;
    grid-gap: 0.3rem;
  }
  .list__actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
