<div class="wrapper">
  <div
    class="user-card"
    [ngClass]="{ 'user-card--opened': canShowDetail }"
    (click)="openDetail()"
  >
    <div class="user-card__pic">
      <img src="{{ user.avatar }}" alt="user avatar" />
    </div>
    <div class="user-card__title">{{ user.name }}</div>
    <icon-arrow class="btn"></icon-arrow>
  </div>

  <div class="user-detail" *ngIf="canShowDetail" [@fadeTopToDown]="'state'">
    <div class="read-only" *ngIf="!canEditUser; else userFormTemplate">
      <div class="user-info" title="#">{{ user.id }}</div>
      <div class="user-info" title="Nome">{{ user.name }}</div>
      <div class="user-info" title="Email">{{ user.email }}</div>
      <div class="user-info" title="Username">{{ user.username }}</div>
      <div class="user-info" title="Telefone">{{ user.phone }}</div>
      <div class="list__actions">
        <icon-edit (click)="edit(user)" class="mr-2"></icon-edit>
        <icon-remove (click)="remove(user)"></icon-remove>
      </div>
    </div>
    <ng-template #userFormTemplate>
      <app-user-form
        [user]="user"
        (onClickSave)="edit(user)"
        (onClickCancel)="edit()"
      ></app-user-form>
    </ng-template>
  </div>
</div>
