<div class="wrapper">
  <div class="user-card" (click)="openDetail()">
    <div class="user-card__pic">
      <img src="{{ user.avatar }}" alt="user avatar" />
    </div>
    <div class="user-card__title">{{ user.name }}</div>
    <button class="user-card-dropdown">Abrir</button>
  </div>

  <div class="user-detail" *ngIf="canShowDetail">
    <div class="user-info">{{ user.id }}</div>
    <div class="user-info">{{ user.name }}</div>
    <div class="user-info">{{ user.email }}</div>
    <div class="user-info">{{ user.username }}</div>
    <div class="user-info">{{ user.phone }}</div>
    <div class="list__actions">
      <icon-edit (click)="edit(user, index)" class="mr-2"></icon-edit>
      <icon-remove (click)="remove(user, index)"></icon-remove>
    </div>
  </div>
</div>
