.logo {
  width: 300px;
  padding: 2rem 0;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(1px 2px 2px black);
}

.alerts {
  position: fixed;
  margin: 0 auto;
  width: 400px;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}
