<div class="container">
  <img
    class="logo"
    src="https://agenciamaori.com.br/i.systems/logo-Isystem_positivo.svg"
  />
  <h1>I-Systems Angular Test</h1>

  <p>
    Nesse teste você poderá visualizar, cadastrar, editar e remover usuários
  </p>
  <div class="mb-4">
    <p>
      Clique no link abaixo para carregar o módulo de usuários.
    </p>
    <a [routerLink]="['/users']" routerLinkActive="link-active">Usuários</a>
  </div>
  <router-outlet></router-outlet>

  <div class="alerts">
    <app-alert *ngFor="let alert of alerts" [alert]="alert">
      {{ alert.message }}
    </app-alert>
  </div>
</div>
